<!-- <h2>Expressions nested</h2>

<button (click)="inc(1)">+</button>
<button (click)="inc(-1)">-</button>
<span i18n>
    Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago}}
</span>
({{minutes}})

<br><br>

<button (click)="male()">&#9794;</button>
<button (click)="female()">&#9792;</button>
<button (click)="other()">&#9895;</button>
<span i18n>
    The author is {gender, select, male {male} female {female} other {other}}
</span>

<br><br>

<span i18n>
    Updated: {minutes, plural,
    =0 {just now}
    =1 {one minute ago}
    other {{{minutes}} minutes ago by {gender, select, male {male} female {female} other {other}}}}
</span> -->