<!-- <h2>Plurals</h2>


<button (click)="inc(1)">+</button> <button (click)="inc(-1)">-</button> 
<br>
<span i18n="time@@plurals">
    Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago}}
</span>
({{minutes}}) -->