<app-navbar></app-navbar>

<!-- <hr>

<h1 i18n="page title|@@page-title"> Hello World! </h1>
<span i18n="page subtitle|@@page-subtitle"> How are you doing?  </span>
<br>
<span i18n="Farmdesk module list title|@@farmdesk-module-list-title"> Farmdesk modules:  </span>
<ul>
    <li>
        <span i18n="Milk module title|@@milk-title">Milk</span>
    </li>
    <li>
        <span i18n="Ration module title|@@ration-title">Rations</span>
    </li>
    <li>
        <span i18n="Feed list title|@@feed-list-title">Feed list</span>
    </li>
</ul>
<br>
<span i18n="Good Rations|@@good-ration">Good ration</span>
<img src="https://www.concretepage.com/images/favicon.png" i18n-title="meaning|description@@id-attribute" title="ConcretePage Logo" />

<p i18n> This is winter season. And there is lots of cold here. </p> -->

<hr>

<router-outlet></router-outlet>
