<div class="container-fluid d-flex justify-content-center px-2 py-4">
  <main role="main">
    <form class="pt-4" autocomplete="off" novalidate>
    <div class="container">

        <div class="card card-body mb-2">
          <h1 class="card-title fl-title pt-3">Welkom</h1>
          <p class="fl-text mb-0" i18n>Welkom bij SEED2FEED Intake, de eerste stap richting lagere voerkosten. Door<br/>
            het beantwoorden van enkele eenvoudige vragen bieden we u gratis en volledig<br/>
            vrijblijvend advies over hoe u uw saldo kunt verhogen!</p>
        </div>
        <div class="card card-body">
          <h1 class="card-title fl-title pt-3" i18n>Graag wat info over jezelf</h1>
          <p class="text-seed2feed-info pt-0" i18n>De resultaten komen in uw mailbox.</p>
            <div class="form-group">
              <label for="inputFirstName" class="fl-bold-text" i18n>Voornaam</label>
              <input type="text" id="inputFirstName" name="inputFirstName"
                     placeholder="Voornaam" class="form-control fl-input-box">
              <div class="invalid-feedback" i18n>
                Vul je voornaam in.
              </div>
            </div>

            <div class="form-group">
              <label for="inputLastName" class="fl-bold-text" i18n>Achternaam</label>
              <input type="text" id="inputLastName" name="inputLastName"
                     placeholder="Achternaam" class="form-control fl-input-box">
              <div class="invalid-feedback" i18n>
                Vul je achternaam in.
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail" class="fl-bold-text" i18n>E-mailadres</label>
              <input type="email" id="inputEmail" name="inputEmail"
                     placeholder="E-mailadres"
                     class="form-control fl-input-box">
              <div class="invalid-feedback" i18n>
                Vul een geldig emailadres in.
              </div>
              <!--
              <div class="invalid-feedback" *ngIf="basicInfoGroup.controls.inputEmail.errors">
                <p>Enter a valid email address.</p>
              </div>
               -->
              <div class="feedback-msg" i18n>
                U heeft reeds een Farmdesk account. <a href="/login" class="text-orange"><u>Log in</u></a> om extra voerplannen te maken.
              </div>
              <div class="feedback-msg" i18n>
                <span>U heeft de SEED2FEED Intake reeds gedaan.<br/>
                  <a href="https://www.kws.com/nl/nl/advies/seed2feed/#2758344" target="_blank" class="text-orange"><u>Maak een afspraak met een SEED2FEED adviseur</u></a> en bespreek verder de mogelijkheden.</span>
              </div>
            </div>

            <div class="form-group">
              <label for="inputCountry" class="fl-bold-text" i18n>Land</label>
            </div>

<!--          <div [hidden]="!mobile" class="form-group">
            <label for="inputCountry" class="fl-bold-text">Land</label>
            <select class="form-control fl-input-box"
                    formControlName="inputCountry" id="inputCountry" name="inputCountry"
                    placeholder="Land"
                    (ngModelChange)="updateMobile($event)">
              <option ngValue="{{country.value}}" *ngFor="let country of countries">{{country.name}}</option>
            </select>
            </div>-->

            <div class="form-group">
              <label for="inputMobile" class="fl-bold-text" i18n>Telefoon</label>
              <div class="input-group fl-input-box">
                <!-- <div *ngIf="mobileCode" class="input-group-prepend">
                  <div class="input-group-text seed2feed-gray-bg">{{ mobileCode }}</div>
                </div> -->
                <input type="number" id="inputMobile" name="inputMobile"
                       placeholder="Telefoon"
                       minlength="2" maxlength="20" class="form-control fl-input-box"
                       >
              </div>
            </div>

          <div class="pt-1">
              <p class="check-label" i18n>
                Ik ga ermee akkoord dat KWS Benelux B.V. mij kan informeren over haar producten of diensten.<br/>
                Lees ons privacybeleid <a href="https://www.kws.com/nl/nl/bedrijf/privacybeleid.html" class="text-orange" target="_blank"><u>hier</u></a> en
                informatie over gegevensbescherming <a href="https://www.kws.com/nl/nl/bedrijf/privacy-politikker/" class="text-orange" target="_blank"><u>hier</u></a>.
              </p>
          </div>

            <div class="mr-auto error-label"></div>
            <!-- <div>Do you already have an account ? <a href="/login" class="fl-bold-text"><u>Log in</u></a></div> -->

        </div>

        <div class="text-center">
          <button type="submit"
                  class="btn btn-lg btn-primary btn-seed2feed mb-2 mt-4 px-4 py-3"
                  >
            <span i18n>
              Begin met optimaliseren
              <i class="far fa-long-arrow-right fa-fw ml-2"></i>
              <!-- <i *ngIf="savingData" class="fal fa-spinner-third fa-spin fa-fw ml-2"></i> -->
            </span>
          </button>
        </div>

    </div>

  </form>

  <div class="d-flex justify-content-center">
    <div class="mt-5 mb-4" i18n>
      Aangeboden door
      <a class="ml-0" href="https://www.kws.com/nl/nl/" target="_blank">
        <img src="./assets/img/KWS_Logo_RGB.svg" height="56px">
      </a>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="mb-5" i18n>
      Ontwikkeld door
      <a class="ml-3" href="https://farmdesk.eu" target="_blank">
        <img src="./assets/img/logo-blue.svg" height="20px">
      </a>
    </div>
  </div>

  </main>
</div>
